html{
    margin: 0;
}

body{
    background-color: black;
}
body::before{
    content: '';
    background-image: url("/resources/BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    -webkit-filter: opacity(16%) blur(3px);
}

/*  */
.content{
    color: white;
    font-size: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    /* height: 100vh; */
}
.content-height{
    height: 100vh;
}

.profile-div{
    height: 70vh;
    width: 45vh;
    background-color: #363636;
    -webkit-filter: opacity(85%);
    border-radius: 2vh;
    text-align: center;
}

.profile .profile-content{

}
